<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <!-- https://www.cyberforum.ru/net-framework/thread436041.html -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="CefSharp;izrik;LibVLC;Newtonsoft.Json"/>
    </assemblyBinding>
  </runtime>
  <!-- https://learn.microsoft.com/ru-ru/dotnet/framework/whats-new/#v452 -->
  <!-- <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings> -->
  <!-- https://stackoverflow.com/questions/13228185/how-to-configure-an-app-to-run-correctly-on-a-machine-with-a-high-dpi-setting-e/13228495 -->
  <!-- <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection> -->
</configuration>