<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="r_Fullscreen" value="-1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- точный -->
      <!-- <dependentAssembly>
        <assemblyIdentity name="CefSharp" publicKeyToken="40c4b6fc221f4138" culture="neutral" />
        <codeBase version="109.1.110.0" href="\CefSharp\CefSharp.dll" />
        <bindingRedirect oldVersion="0.0.0.0" newVersion="109.1.110.0" />
      </dependentAssembly> -->
      <!-- общий -->
      <probing privatePath="CefSharp;izrik;LibVLC;Newtonsoft.Json,DeepSpeech;BenchmarkDotNet" />
    </assemblyBinding>
  </runtime>
  <!-- https://learn.microsoft.com/ru-ru/dotnet/framework/whats-new/#v452 -->
  <!-- <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings> -->
  <!-- https://learn.microsoft.com/ru-ru/dotnet/desktop/winforms/high-dpi-support-in-windows-forms?view=netframeworkdesktop-4.8 -->
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>